[neopixel sb_leds]
pin: toolhead:PD3
# pin: PB0
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW

[gcode_macro _sb_vars]
# User settings for the StealthBurner status leds.

variable_logo_led_name:         "sb_leds"
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "1"
# A comma-separated list of indexes LEDs in the logo
variable_nozzle_led_name:       "sb_leds"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
variable_nozzle_idx:            "2,3"
# A comma-separated list of indexes of LEDs in the nozzle
gcode:
    # This section is required.  Do Not Delete.

[led_effect logo_idle]
autostart:              true
frame_rate:             24
leds:
    neopixel:sb_leds (1)
layers:
    breathing  10 1 top (.5,.5,1)

[led_effect nozzle_heating]
autostart: true
frame_rate: 24
heater: extruder
leds:
    neopixel:sb_leds (2,3)
layers:
    heater  50 1 top    (1,1,0),(1,0,0)
