[delayed_gcode turn_off_nevermore]
gcode:
    SET_FAN_SPEED FAN=nevermore SPEED=0

[delayed_gcode turn_off_exhaust_fan]
gcode:
    SET_TEMPERATURE_FAN_TARGET temperature_fan=chamber target=0

[delayed_gcode turn_off_part_fan]
gcode:
    M107

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M117 Print end

    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F2700                 ; initial 2mm fast retraction
    SET_GCODE_VARIABLE MACRO=REVO_RETRACT VARIABLE=retracted_so_far VALUE=2.0
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END

    POST_PRINT
